/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-font-family: 'Sora', normal !important;

  /* background-color */
  --ion-background-color: #fdebe0 !important;
  --ion-background-color-400: #f2f1e6 !important;
  --ion-background-color-600: #c1d4c5 !important;
  --ion-background-color-700: #e2f9af !important;
  --ion-background-color-800: #84a98b !important;

  --ion-background-header: #fbd7c1 !important;
  --ion-background-item-list: #fdefe6 !important;

  --ion-item-background: var(--ion-background-color-400) !important;

  /* text-color */
  --ion-text-color: #1d1d1d !important;
  --ion-text-color-400: #777777 !important;
  --ion-text-color-600: #4a4a4a !important;

  --ion-dark-text-color: #f7ebeb !important;

  --ion-text-green-color: #44634b !important;
  --ion-text-green-color-600: #a3bfa8 !important;

  /* color */
  --ion-success-color: #4caf50 !important;
  --ion-danger-color: #f44336 !important;
}

:root.ios {
  --ion-text-color: #000;
}

:root.md {
  --ion-text-color: #222;
}

.btn-default {
  background-color: var(--ion-background-color-800) !important;
  color: var(--ion-text-color) !important;
  border-radius: 8px !important;
}

.btn-outline {
  border-radius: 8px !important;
  border: 1px solid var(--ion-background-color-800) !important;
  color: var(--ion-background-color-800) !important;
}

ion-label {
  font-family: 'Sora', normal !important;
  color: var(--ion-text-color) !important;
  font-size: 14px !important;
}

ion-label.subtitle {
  font-size: 12px !important;
  font-weight: 700 !important;
  color: var(--ion-text-color-400) !important;
}

ion-input {
  background-color: var(--ion-background-color) !important;
  color: var(--ion-text-color-600) !important;
  min-height: 40px !important;
  --placeholder-color: var(--ion-text-color-400) !important;
  
  .input-wrapper {
    border-radius: 8px !important;
    border: 2px solid var(--ion-background-color-800) !important;

    .input-outline-start {
      border: 0 !important;
    }

    .input-outline-end {
      border: 0 !important;
    }
  }

  .input-bottom {
    padding: 4px 0 0 4px !important;
    border: 0 !important;
  }
}

ion-input.ion-invalid .input-wrapper {
  border: 2px solid var(--ion-danger-color) !important;
}

ion-select {
  background-color: var(--ion-background-color) !important;
  color: var(--ion-text-color-600) !important;
  min-height: 40px !important;
  border: 0px !important;
  --placeholder-color: var(--ion-text-color-400) !important;
  --border-color: var(--ion-background-color-800) !important;
  --border-radius: 8px !important;
  --border-width: 2px !important;
  
  .select-wrapper {
    .select-outline-start {
      border: 0 !important;
    }

    .select-outline-end {
      border: 0 !important;
    }
  }
}

ion-select.ion-invalid {
  --border-color: var(--ion-danger-color) !important;
}

span {
  color: var(--ion-text-color) !important;
  font-size: 14px;
  font-weight: 700;
}

ion-loading {
  --spinner-color: var(--ion-text-color) !important;

  .loading-wrapper.ion-overlay-wrapper {
    box-shadow: none !important;
    background: none !important;

    .loading-spinner ion-spinner {
      width: 64px !important;
      height: 64px !important;
    }
  }
}

/* CHIP */
ion-chip.warning {
  --background: #ffee99 !important;
  --color: #b78300 !important;
  border: 2px solid #ffe266;
  border-radius: 4px;
  height: 20px !important;

  font-weight: 600 !important;
}

ion-chip.success {
  --background: var(--ion-background-color-700) !important;
  --color: var(--ion-text-green-color) !important;
  border: 2px solid var(--ion-background-color-800) !important;
  border-radius: 4px;
  height: 20px !important;

  font-weight: 600 !important;
}

ion-chip.inactive {
  --background: #dedede !important;
  --color: var(--ion-text-color-600) !important;
  border: 2px solid var(--ion-text-color-400) !important;
  border-radius: 4px;
  height: 20px !important;

  font-weight: 600 !important;
}

/* TOOLBAR */
ion-toolbar ion-tab-bar {
  ion-tab-button {
    background-color: var(--ion-background-color-600) !important;
    
    &.tab-selected {
      background-color: var(--ion-background-color-800) !important;
      box-shadow: inset 0 0 10px var(--ion-text-color) !important;
    }
  }
}

ion-fab {
  ion-fab-button {
    --background: var(--ion-background-color-800) !important;
    --color: var(--ion-text-color) !important;
  }
}

@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 500;
  src: url('./src/assets/fonts/Sora-Regular.ttf');
}

@font-face {
  font-family: 'Sora';
  font-style: bold;
  font-weight: 700;
  src: url('./src/assets/fonts/Sora-Bold.ttf');
}

@font-face {
  font-family: 'Sora';
  font-style: light;
  font-weight: 300;
  src: url('./src/assets/fonts/Sora-Light.ttf');
}